.mentor  {
    margin: 0;
    padding: 0;
    background-color: #5498bd;
    height: 100vh;
}

.mentor ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mentor li {
    margin: 10px;
}

.mentor a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.mentor main {
    margin-left: 150px;
    padding: 20px;
}

.mentor .mentor-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

.mentor img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
}

.mentor .mentor-description {
    margin-top: 0;
}

.mentor .mentor-skills {
    font-style: italic;
}